/********************
COULEURS
********************/

// texte
$couleur-texte: #101010;

// tâches
$priorites: #febbff;
$planifier: #baf4c1;
$attente: #fffba5;
$regulier: #febcad;
$margePostIt : 40px;
$paddingPostIt : 30px;
$taillePostItSeul: 800px;

// fond
$fond : #fffef0;
$navigation: #66979E;

// ombres
$ombre : 4px 4px 10px rgb(141, 132, 132);

/********************
TAILLE POLICES
********************/
$menu: 4rem;
$titrePage: 2rem;
$sous-titre: 3rem;
$texte: 1.8rem;